@import './base.css';

/*start header*/
.header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 33px;
    width: 100%;
    background-color: #F4F4F4;
}

.header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.header .logo img {
    width: 25px;
}

.header .logo a {
    color: var(--mainColor);
}

.header .nav a {
    color: #101828;
}

.nav ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.header .auth a {
    font-family: var(--subFont);
    border-radius: 5px;
}

.header .auth a:first-of-type {
    border: 1px solid var(--mainColor);
    color: var(--mainColor);
    padding: 10px 30px;
}

.header .auth a:last-of-type {
    border: 1px solid var(--mainColor);
    padding: 10px 30px;
    background-color: var(--mainColor);
    color: white;
}

@media (max-width:992px) {
    .nav {
        display: none;
    }

}
/* end header*/

/*start main -Testimonials*/
.testimonials {
    text-align: center;
    padding: 40px;
    position: relative;
    z-index: -1;
}

.testimonials h2 {
    margin-bottom: 30px;
}

.testimonials .row {
    gap: 15px;
    flex-wrap: wrap;
}

.testimonial {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    width: calc(( 100% - 15px ) / 2);
    align-items: flex-start;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
    padding: 25px;
    position: relative;
}
.testimonial:after{
    content: '';
    border-top: 70px solid #b4b4b480 ;
    border-left: 70px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.testimonial .user_info img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.testimonial .user_info{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    margin-bottom: 6px;
}
.testimonial .user_info .user_data{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
    /*text-align: justify;*/
    align-items: flex-start;
}
.testimonial .user_data span{
    font-size: 12px;
    color: #969696;
    font-weight: 400px;
}

.testimonial .stars{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 10px;
}
.testimonial q{

    word-spacing: 3px;
   
    text-align:left;
}
/*end main -Testimonials*/

/* start footer*/
footer {
    background-color: #393E46;
    color: white;
    padding: 50px 0;
}

.footer a {
    color: white;
}

.footer.row {
    gap: 40px;
}

.footer-start-leftSide,
.footer-end-rightSide {
    width: calc((100% - 160px) / 2);
}

.footer-start-leftSide {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}

.footer .footer-start-leftSide .logo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
}

.footer-start-leftSide .logo img {
    width: 35px;
}

.footer-start-leftSide .logo a {
    width: 200px;
}

.footer-start-leftSide p {
    color: #F4F4F4;
    line-height: 35px;
    font-weight: 100px;
    text-align: justify;
}

.footer .footer-start-leftSide .icons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.footer .footer-start-leftSide .icons img {
    border: 1px solid;
    padding: 10px;
    width: 20px;
    height: 20px;
    box-sizing: content-box;
}

.footer .footer-end-rightSide .row {
    justify-content: space-evenly;
    align-items: flex-start;
}

.footer .footer-end-rightSide .footer-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.footer .footer-end-rightSide .footer-item ul{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}