@import './base.css';

.header{
    position: static;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 33px;
}
.header .logo{
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.header .logo img{
    width: 25px;
}
.header .logo a{
    color: var(--mainColor);
}
.header .nav a{
    color: #101828;
}
.nav ul {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

.header .auth a{
    font-family: var(--subFont);
    border-radius: 5px;
}

    .header .auth a:first-of-type{
        border: 1px solid var(--mainColor);
        color: var(--mainColor);
        padding: 10px 30px;
    }

    .header .auth a:last-of-type{
        border: 1px solid var(--mainColor);
        padding: 10px 30px;
        background-color: var(--mainColor);
        color: white;
    }

    @media (max-width:992px) {
        .nav{
            display: none;
        }
        
    }